@charset "UTF-8";
@import "../../styles/main";
// Button SCSS

.avatar {
  .avatar-image-small {
    max-width: 40px;
  }

  .avatar-image-medium {
    max-width: 50px;
  }

  .avatar-image {
    border-radius: 99999px;
  }
}
