@charset "UTF-8";
@import "../../styles/main";
// News section SCSS

.news-section {
  background: $light-news-color-bg;
  border-radius: 16px;
  padding: 0;

  .news-section-header {
    padding: 12px 15px;
    border-bottom: 1px solid $light-news-color-border;
  }

  .section-title {
    margin: 0;
    color: $light-news-color-text;
  }

  .news-section-footer {
    padding: 15px;
  }

  .news-showmore {
    color: $news-link-color-text;
    text-decoration: none;
  }

  &.news-section-dark {
    background: $dark-news-color-bg;

    .news-section-header {
      border-color: $dark-news-color-border;
    }

    .section-title {
      margin: 0;
      color: $dark-news-color-text;
    }
  }
}
